{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Form{% endblock %}
{% block body %}
    <!-- http://stackoverflow.com/questions/18848870/how-to-display-all-form-error-at-one-place -->
    <link rel="stylesheet" href="{{ asset('css/producto_tabla.css') }}" />

    <div>
       <form method="post" action="{{ action }}" novalidate="novalidate">
           <div>

               {{ dump(form.vars.value) }}

               <ul>
                   {%  for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                   {% endfor %}
               </ul>
           </div>
           <div>{{ form_errors(form.name) }} {{ form_label(form.name) }}: {{ form_widget(form.name) }}</div>
           <div>{{ form_errors(form.description) }} {{ form_label(form.description) }}: {{ form_widget(form.description)  }}</div>
           <div>{{ form_errors(form.price) }} {{ form_label(form.price) }}: {{ form_widget(form.price) }}</div>
           {{ form_rest(form) }}

           <div><input type="button" value="Confirmar"></div>



           <button value="CREATE" id="boton">
               <h1>Confirmar</h1>
           </button>

           <img id = "imagen"src="{{ asset(gif) }}" />
       </form>
    </div>
{% endblock %}
